p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}

button {
  margin: 0 0 100px 130px;
  
}

h1 {
  text-align: center;
}

.card1-hide {
  display: none;
}

.card2-hide {
  display: none;
}

